:root{
     --color:white;
}

h2 {
     font-size: 24px;
     margin-bottom: 20px;
     color: var(--color);
     text-align: center;
}       

.flex{
     display: flex;
}
body {
     background: linear-gradient(black, silver);
     font-family:cursive;
}
.text  {
     margin:2px 0;
     font-size: 15px;
     font-weight: normal;
}
.text-min{
     font-weight: normal;
     font-size: 10px;
}
/*HEADER*/
     header{
          color: var(--color);
          justify-content: space-between;
          align-items: center;
     }

     header>img{
          width: 120px;
     }

     header>div>h1{
          text-shadow: 3px 4px 3px rgb(133, 79, 184);
          position: relative;
     }
     .search-box{
          margin-top:.5rem ;
     }
     .head>div{
         margin-right: 2rem;
     }
/* Thanh tìm kiếm */
     .search-box {
          position: relative;
          display: flex;
          align-items: center;
     }
     
     .search-input {
          padding: 5px 10px;
          border: 1px solid #ccc;
          border-radius: 30px;
          outline: none;
     }
     
     .suggestion-list {
          position: absolute;
          top: calc(100% + 5px);
          left: -100px;
          width: 400px;
          background-color: var(--color);
          color:#666;
          border-radius: 7px;
          list-style-type: none;
          padding: 0;
          margin: 0;     
          display: none;
          z-index: 500;

     }
     
     .suggestion-list li {
          cursor: pointer;
          padding: 15px;
          border-radius: 7px;
          border: 1px dashed #ccc;
     }
     
     .suggestion-list li:hover {
          background-color: #ccc;
     }
/*BUTTON*/
     .button{
          border: 1px solid var(--color);
          background: none;
          color: var(--color);
          display: block;
          padding: 1rem;
          margin-left: 1rem;
          border-radius: 20px;
          transition: all .5s;

     }
     .button:hover{
          background: silver;
          color: black;
          cursor: pointer;
     }
/* NAV */
     ul.menu{
          list-style-type: none;
          margin: 0;
          padding: 0;
          font-weight: 600;
          font-size: large;
     }

     ul.menu > li > a{
          display: block;
          padding: .5rem 2rem;
          text-decoration: none;
          color: var(--color);
          transition: all;
          transition-duration: 300ms;
          border-bottom: 1px solid rgba(255, 68, 0, 0);
     }

     ul.menu > li > a:hover{
          background: silver;
          color: black;
          border-radius: 10px;
          border-bottom: 2px black;
     }

     nav{
          background-color: #666;
          top:0;
          border-radius: 10px;
          width: 100%;
          position: sticky;
          z-index: 100;
     }

/*MAIN*/
     main{
          flex-wrap: nowrap;
          position: relative;
     }
/* LEFT */
     .left{    
          top:0;
          width: 70px;
          height: 100vh  ;     
          padding: 10px;
          background-color: #666;
          box-sizing: border-box;
          color: var(--color);
          overflow: hidden;
          transition: width .75s ease; 
          border-radius: 10px;
          margin-top: 2px;
          position: sticky;
     }

     .left:hover{
          width : 200px;
     }

     ul.si{
          padding: 0;
     }

     .left >ul.si>li{
          list-style-type: none;
     }

     .left >ul.si>li>div{
          border-radius: 10px;          
          position: relative;
          top:5px;
          margin: .5rem 0;
          overflow: hidden;
          border-bottom:2px #333 solid;
     }    

     .left >ul.si>li>div>a{
          text-decoration: none;
          position: absolute;
          display: block;
          left: 60px;
          color: var(--color);     
          padding: 1rem;
     }

     .left >ul.si>li>div>a:hover{
          background-color: var(--color) !important;
          color:#666 !important;
          width: 100%;
     }
/* CENTER */
     .center{
          width:1100px; 
     }

     .art {
          background-color: var(--color);
          border-radius: 5px;
          padding:30px;
          margin-bottom: 20px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
     }
/* Dồn qua phải */
     .lef > div{
          justify-content: flex-end;
          display: flex;
     }
     
     .lef{
          margin-right: 20px;
          position: relative;
          width: 10%;
     }

     .righ{
          position: relative;
          width:92%;
     }
     .righ>h3{
        margin: 0;
     }
     
     ul.type {
          list-style-type: none;
          padding: 0;
     }

     ul.type>li>a{
          text-decoration: none;
          padding: 5px;
          background-color: gray;
          border-radius: 10px;
          margin: 2px;
          color: var(--color);
     }
     ul.type>li>a:hover{
          color: lightblue;
     }
     .by{
          margin-left: auto;
          position: relative;
     }
     .by img{
          width: 20px;
          padding: 0 10px;
          z-index: 1;
     }
     .by a{
          text-decoration: none;
          color: #000;
     }
     .by > .text:last-child{
          text-align: end;
     }
     .info{
          position: absolute;
          visibility: hidden; 
          top: 65%;
          left: 0;
          background-color: black;
          color: white;
          padding: 10px;
          width: 350px;
          border-radius: 5px;
          opacity: 0;
          transition: opacity 1s ease-in-out;
     }
    
     .info::after{
          content: "";
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent black transparent;
          bottom: 100%;
          position: absolute;
          left: 5rem;
          overflow: auto;
          z-index: 50;
     }

     .info>div.flex>:first-child{
          width: 30%;
     }

     .info>div.flex :last-child{
          width: 70%;
     }   
     .info> :last-child{
          border-top: 2px solid white;
          padding-top: 1rem;
     }  
     .info img{
          width: 100%;
     }    
     .by .hide:hover + .info{
          visibility: visible;
          opacity: 1;
          color: white;
          z-index: 50    ;
     }    
     .info:hover{
          display: block;
     }

     /* info khi tràn ra màn hình */
     .infoUp{
          position: absolute;
          visibility: hidden;
          bottom: 120%;
          left: 0;
          background-color: black;
          color: white;
          padding: 10px;
          width: 350px;
          border-radius: 5px;
          opacity: 0; 
          transition: opacity 1s ease-in-out;
     }
     
     .infoUp::after{
          content: "";
          border-width: 10px;
          border-style: solid;
          border-color: black  transparent transparent transparent;
          top: 100%;
          position: absolute;
          left: 5rem;
          overflow: auto;
          z-index: 500;
     }

     .infoUp>div.flex>:first-child{
          width: 30%;
     }

     .infoUp>div.flex :last-child{
          width: 70%;
     }   
     .infoUp> :last-child{
          border-top: 2px solid white;
          padding-top: 1rem;
     }  
     .infoUp img{
          width: 100%;
     }    
     .by .hide:hover + .infoUp{
          visibility: visible;
          opacity: 1;
          color: white;
          z-index: 500;
     }    
     .infoUp:hover{
          display: block;
     }
     .con{
          max-width: 1800px;
          padding-left: 5px;
     }  

/* RIGHT */
     .right {
     float: right;
     margin-top: 1rem;
     width: 200px;
     height: 500px;
     position: absolute;
     right: 0;
   }
   
   .ads {
     display: flex;
     flex-direction: column; /* Xếp các hình ảnh dọc */
     position: absolute;
     right: 0px;
   }
   
   .ads > div {
     padding: 0;
     color: var(--color);
     justify-content: center;
     align-items: center;
     height: 80%; /* Chiếm 50% chiều cao của .ads để tạo 2 hình bên cạnh */
   }
   
   .ads > div img {
     max-width: 100%; /* Thu nhỏ hình ảnh lại để vừa với khung */
     max-height: 100%; 
   }
        
/* FOOTER */
     footer {
          color: var(--color);
          background-color: #1b1919f3;
          position: relative;
          height: 130px;
     }
     footer div:first-child{
          position: absolute;
          top:1rem; 
          left: 41%;
     }
     footer img{
          width: 45px;
          margin: 8px;   
          position: relative;
     }
     footer > div > a:nth-child(1) > img{
         filter: drop-shadow(2px 2px 10px #1178f2);
     }   
      
     footer > div > a:nth-child(2) > img{
          filter: drop-shadow(2px 2px 10px brown);
     }    

     footer > div > a:nth-child(3) > img{
           filter: drop-shadow(2px 2px 10px #179cf0);
     }    
     footer > div > a:nth-child(4) > img{
           filter: drop-shadow(2px 2px 10px #f70000);
     }    
     footer p{
          position: absolute; 
          bottom: .5rem;
          left:40%;
     }

/*LOGIN*/
.blocklogin{
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     z-index: 101;
}

.wrapper{
     top: 20%;
     left: 35%;
     width: 400px;
     height: 440px;
     background: linear-gradient(white, silver);
     border: 2px solid rgba(255, 255, 255, .5);
     border-radius: 20px;
     box-shadow: 0 0 30px rgba(0, 0, 0, .5);
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     transform:  scale(0);
     transition: transform .5s ease, height .2 ease;
   }
   
   .wrapper.active-popup{
     transform:  scale(1);
   }
   
   .wrapper.active{
     height: 520px;
   }
   
   .wrapper .form-box{
     width: 80%;
     padding: 40px;
   }
   
   .wrapper .form-box.login{
     transition: transfrom .18s ease;
     transform: translateX(0);
   }
   
   .wrapper.active .form-box.login{
     transition: none;
     transform: translateX(-400px);
   }
   
   .wrapper .form-box.register{
     position: absolute;
     transition: none;
     transform: translateX(400px);
   }
   
   .wrapper.active .form-box.register{
     transition: transfrom .18s ease;
     transform: translateX(0);
   }
   
   
   .wrapper .icon-close{
     position: absolute;
     top: 0;
     right: 0;
     width: 45px;
     height: 45px;
     background: #162938;
     font-size: 1.5rem;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     border-bottom-left-radius: 20px;
     cursor: pointer; /*đổi con trỏ chuột*/
     z-index: 1;
   }
   
   .form-box h2{
     font-size: 2rem;
     color: #162938;
     text-align: center;
   }
   
   .input-box{
     position: relative;
     width: 100%;
     height: 50px;
     border-bottom: 2px solid #162938;
     margin: 30px 0;
   }
   
   .input-box label{
     position: absolute;
     top: 50%;
     left: 5px;
     transform: translateY(-50%);
     font-size: 1rem;
     color: #162938;
     font-weight: 500px;
     pointer-events: none;
     transition: .5s;
   }
   
   .input-box input:focus~label,
   .input-box input:valid~label{
     top: -5px; 
   }
   
   .input-box input{
     width: 100%;
     height: 100%;
     background: transparent;
     border: none;
     outline: none;
     font-size: 1rem;
     color: #162938;
     font-weight: 600;
     padding: 0 35px 0 5px;
   }
   
   .input-box .icon{
     position: absolute;
     right: 8px;
     font-size: 1.2rem;
     color: #162938;
     line-height: 57px;
   }

   .show{
     cursor: pointer;
   }

   .remember-forgot{
     font-size: 1rem;
     color: #162938;
     font-weight: 500;
     margin: -15px 0 15px;
     display: flex;
     justify-content: space-between;
   }
   
   .remember-forgot label input{
     accent-color: #162938;
     margin-right: 3px;
   }
   
   .remember-forgot a{
     color: #162938;
     text-decoration: none;
   }
   
   .remember-forgot a:hover{
     text-decoration: underline;
   }
   
   .btn{
     width: 100%;
     height: 45px;
     background: #162938;
     border: none;
     outline: none;
     border-radius: 5px;
     cursor: pointer;
     font-size: 1rem;
     color: white;
     font-weight: 500;
   }
   
   .login-register{
     font-size: .9rem;
     color: #162938;
     text-align: center;
     font-weight: 500;
     margin: 25px 0 10px;
   }
   
   .login-register p a {
     color: #162938;
     text-decoration: none;
     font-weight: 600;
   }
   
   .login-register p a:hover{
     text-decoration: underline;
     cursor: pointer;
   }

   /*GO TO TOP*/
#backtop{
     width: 50px;
     height: 50px;
     background: tomato;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     position: fixed;
     bottom: 40px;
     right: 20px;
     border-radius: 50%;
}

#backtop:hover{
     cursor: pointer;
}

/*VIDEO*/

.video-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

}

.videos iframe {
     width: calc(25% - 10px);
     height: 300%;
     margin: 0 10px;
     box-sizing: border-box;
     z-index: 1;
}

.go{
     display: flex;
     justify-content: space-between;
}

.go >button{
     font-size: 20px;
     border-radius: 10px;
     background: none;
     transition: 1s;
     z-index: 1111;
}

.go >button:hover{
     cursor: pointer;
}
/* NEW POST */
@keyframes logIn {
     from{
          background: none;
          color: var(--color);
     }
     to{
          background: var(--color);
          color: black;
     }
}
.err{
     animation: logIn .75s infinite;
}
.MENU{
     display: none;
}
.sidebar{
     display: none;
}
